.body-container {
  .navbar-header {
    padding: 30px 0 30px 0;
    width: 100%;
    .header-sub {
      padding-left: 172px;
      padding-top: 15px;
    }
  }
  .navbar-brand {
  } .main-nav {
    position: relative;
    float: left;
    ul {
      list-style: none;
      li {
        padding-bottom: 20px;
      }
    }
  }
  .content {
    z-index: 3;
    margin-bottom: 100px;
    position: relative;
    float:left;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
    letter-spacing: 2px;
    h2 {
      padding: 35px;
    }

    .secondary-nav {
      border-top: 1px solid #F5F5F5;
      border-bottom: 1px solid #F5F5F5;
    }
  }
}

.address {
  width: 50%;
  float: left;
}

  .form {
    padding: 0;
    .location-form-left {
      float: left;
      width: 65%;
      padding: 20px 20px 20px 0;
    }
    .location-form-right {
      float: left;
      width:35%;
      padding: 20px 20px 20px 0;
    }
  }


@media only screen and (max-width: 700px) {
    .location .address {
        width: 100%;
    }

    .location .form .location-form-left{
      width: 100%;
    }

    .location .form .location-form-right {
      width: 100%;
    }
}



.button-saved {
  background: #79AE42;
  color: #FFFFFF;
}
