@import "variables.scss";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "home.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
* {
  padding: 0;
  margin: 0;
}

input, label {
  display: block;
}
