@import "variables.scss";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "home.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
* {
  padding: 0;
  margin: 0;
}

input, label {
  display: block;
}

md-input-container {
  margin-right: 20px;
}
.state-dropdown {
  padding: 28px 0 0 0;
}
.md-input-has-value {
  padding-top: 2px;
}

.active {
  color: #87ABC1;
}

a.ng-binding.active {
  color: #87ABC1;
}

.break {
  padding: 0 15px 0 15px;
}


select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   background: transparent;
}
